<section class="bg-primary text-white">
    <nav class="font-inter mx-auto h-auto w-full max-w-screen-2xl lg:relative lg:top-0">
        <div class="flex flex-col px-6 py-6 lg:flex-row lg:items-center lg:justify-between lg:px-10 lg:py-4 xl:px-20">
            <a href="#">
                <img src="assets/logo-separateur/logo-white.png" class="w-36">
            </a>
            <div class="absolute right-5 lg:hidden cursor-pointer" (click)="toggleNav()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path d="M3.75 6H20.25" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path d="M3.75 18H20.25" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </div>
            <div class="mt-14 flex flex-col space-y-8 lg:mt-0 lg:flex lg:flex-row lg:space-x-1 lg:space-y-0"
                [ngClass]="{'hidden':openNav}">
                <div class="relative flex flex-col">
                    <a (click)="togglePartenaire()"
                        class="cursor-pointer flex font-inter rounded-lg lg:px-6 lg:py-4 lg: lg:hover:text-gray-800">
                        Partenaire <svg [ngClass]="{'rotate-180':!openPartenaire}"
                            class="fill-current transition w-6 h-6" viewBox="0 0 24 24">
                            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                        </svg>
                    </a>
                    <div [ngClass]="{'hidden':openPartenaire}"
                        class="z-50 flex w-full flex-col rounded-lg px-5 lg:absolute lg:top-20 lg:w-96 bg-gray-100">
                        <a (click)="goToPartenaireEcole();togglePartenaire()">
                            <h2 class="cursor-pointer font-inter mb-1 mt-5 text-lg font-medium text-black"> Nos
                                partenaires ecole </h2>
                        </a>
                        <a (click)="goToPartenaireEntreprise();togglePartenaire()">
                            <h2 class="cursor-pointer font-inter mb-1 mt-5 text-lg font-medium text-black"> Nos
                                partenaires entreprises
                            </h2>
                        </a>
                        <a (click)="goToPartenairePresse();togglePartenaire()">
                            <h2 class="cursor-pointer font-inter mb-1 mt-5 text-lg font-medium text-black"> No
                                partenaires presse </h2>
                        </a>
                    </div>
                </div>
                <a class="cursor-pointer font-inter rounded-lg lg:px-6 lg:py-4 lg: lg:hover:text-gray-800"
                    routerLink="equipe"> Notre
                    équipe </a>
                <a href="#"
                    class="cursor-pointer font-inter lg: rounded-lg pb-8 lg:px-6 lg:py-4 lg: lg:hover:text-gray-800"
                    routerLink="galerie"> Galerie
                </a>
            </div>
            <div class="flex flex-col space-y-8 lg:flex lg:flex-row lg:space-x-3 lg:space-y-0"
                [ngClass]="{'hidden':openNav}">
                <a class="cursor-pointer font-semibold font-inter rounded-lg bg-white px-8 py-2 text-center text-primary hover:bg-gray-800"
                    href="https://app.forumetp.fr/login?redirect=https%3A%2F%2Fapp.forumetp.fr%2F" target="_blank">
                    Espace entreprises </a>
            </div>
        </div>
    </nav>
</section>