<title-separator title="Qui somme-nous ?">
</title-separator>
<div class="pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 lg:flex lg:flex-row">
    <div class="lg:basis-1/2 lg:pr-5 lg:pl-5"><img class="rounded-2xl w-full h-full"
            src="assets\membre-forum\unnamed-scaled.jpg" alt="" srcset="">
    </div>
    <div class="mt-4 lg:basis-1/2 flex flex-col justify-between text-justify">
        Le Forum ESTP est une association, constituée de 26 étudiants motivés de l’ESTP, triés sur le volet. À la fois
        innovants, solidaires, créatifs et dynamiques, ils œuvrent tous vers un objectif commun : organiser un forum à
        la hauteur des attentes de chacun. C’est en quelques mois que les quatre pôles qui constituent l’association
        doivent remplir des missions bien déterminées : rassembler des entreprises, susciter l'intérêt des visiteurs et
        aménager le Hall 5 du plus grand parc d’exposition d’Europe.
        Grâce à son équipe renouvelée chaque année, le Forum ESTP a su évoluer depuis plus de 40 ans, pour rester au
        plus proche des préoccupations des entreprises, des étudiants, mais aussi des différents enjeux liés au domaine
        du bâtiment, des travaux publics et de l’industrie.
    </div>
</div>
<div class="relative w-full pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 mt-4 ">
    <p class="text-2xl text-center border-solid border-b-[.5px] border-black">Découvrez nos différents pôles </p>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 mt-4">
        <div class="bg-white rounded-xl flex flex-col p-4 gap-2 text-justify ">
            <img src="assets\membre-forum\BUREAU.jpg" class="rounded-xl" alt="" srcset="">
            <p class="text-center font-semibold uppercase">Le bureau</p>
            <p>Décideurs et leaders de l'association, les membres du bureau sont chargés de superviser et de coordonner
                les différents pôles. Ils veillent à assurer le bon déroulement des activités et garantissent un
                fonctionnement harmonieux de l'ensemble de l'organisation.</p>
            <button class="px-5 py-2 bold bg-primary rounded-lg text-white font-semibold w-full h-full">Voir les
                mombres du bureau</button>

        </div>
        <div class="bg-white rounded-xl flex flex-col justify-between p-4 gap-2 text-justify">
            <img src="assets\membre-forum\COM.jpg" class="rounded-xl" alt="" srcset="">
            <p class="text-center font-semibold uppercase">Le PÔLE communication</p>
            <p>Dynamique et créatif, le pôle communication est responsable de la promotion de l'événement. Ses membres
                s'occupent également de la conception et de la réalisation de tous les supports visuels utilisés lors du
                Forum, garantissant ainsi une image accueillante et attrayante. <br><br></p>
            <button class="px-5 py-2 bold bg-primary rounded-lg text-white font-semibold w-full h-full ">Voir les
                membres du pôle de communication</button>
        </div>

        <div class="bg-white rounded-xl flex flex-col justify-between p-4 gap-2 text-justify">
            <img src="assets\membre-forum\COMMERCIAUX.jpg" class="rounded-xl" alt="" srcset="">
            <p class="text-center font-semibold uppercase">LE PÔLE COMMERCIAL</p>
            <p>Déterminé et persévérant, le pôle commercial est chargé de contacter les entreprises souhaitant
                participer au Forum. En proposant différents packs et options, ses membres aident à proposer des stands
                qui répondent aux attentes des entreprises tout en tenant compte des besoins des étudiants.</p>
            <button class="px-5 py-2 bold bg-primary rounded-lg text-white font-semibold w-full h-full">Voir les
                membres du pôle de commercial</button>
        </div>
        <div class="bg-white rounded-xl flex flex-col justify-between p-4 gap-2 text-justify">
            <img src="assets\membre-forum\LOG.jpg" class="rounded-xl" alt="" srcset="">
            <p class="text-center font-semibold uppercase">LE PÔLE LOGISTIQUE</p>
            <p>Organisé et méthodique, le pôle logistique est chargé de l'ensemble de l'organisation du Forum. L'équipe
                s'occupe de l'installation générale le jour de l’évènement, de la création de plans, de l'achat de
                mobilier, du démarchage des traiteurs, ainsi que de la mise en place des conférences.</p>
            <button class="px-5 py-2 bold bg-primary rounded-lg text-white font-semibold w-full h-full">Voir les
                membres du pôle logistique</button>
        </div>
    </div>
</div>