<ng-container *ngIf="dataType === 'entreprise'">
    <title-separator title="Nos entreprise partenaires"></title-separator>
    <div class="grid grid-cols-2 lg:grid-cols-4 mt-4 gap-4 pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 mt-4">
        <ng-container *ngFor="let data of loopData">
            <a class="lg:p-14 p-5 bg-white rounded-xl flex flex-col justify-between" href="{{data.site}}">
                <img src=" assets\partenaire-entreprises\LogoSite\Bouygues.jpg" alt="" srcset="">
                <p class="text-center">{{data.Entreprise}}</p>
            </a>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="dataType === 'ecole'">
    <title-separator title="Nos école partenaires"></title-separator>
    <div class="grid grid-cols-2 lg:grid-cols-4 mt-4 gap-4 pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 mt-4">
        <ng-container *ngFor="let data of loopData">
            <a class="lg:p-14 p-5 bg-white rounded-xl flex flex-col justify-between" href="{{data.site}}">
                <img src="{{data.src}}" alt="" srcset="">
                <p class="text-center mt-4">{{data.nomEcole}}</p>
            </a>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="dataType === 'presse'">
    <title-separator title="Nos partenaires presse"></title-separator>
    <div class="grid grid-cols-1 lg:grid-cols-4 mt-4 gap-4 pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 mt-4">
        <ng-container *ngFor="let data of loopData">
            <a class="lg:p-14 p-5 bg-white rounded-xl flex flex-col justify-between" href="{{data.site}}">
                <img src="{{data.src}}" alt="" srcset="">
                <p class="text-center">{{data.NOM}}</p>
            </a>
        </ng-container>
    </div>
</ng-container>