<title-separator title="{{title}}"></title-separator>
<div class="grid grid-cols-1 lg:grid-cols-4 mt-4 gap-4 pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 mt-4">
    <ng-container *ngFor="let data of loopData">
        <div target="_blank" class="bg-white rounded-xl flex flex-col p-4 gap-2 text-justify ">
            <img alt="" src="assets/membre-forum/img/{{data.prenom}} {{data.nom}}.jpg" srcset="" class="rounded-xl">
            <p class="text-center">{{data.prenom}} {{data.nom}}</p>
            <p class="text-center text-sm">{{data.fonction}}</p>
            <p class="text-center text-md">{{data.mail}}</p>
            <a class="px-3 py-1 text-center bg-primary rounded-lg text-white font-semibold w-full" href="{{data.link}}"
                target="_blank">Voir le profil LinkedIn</a>
        </div>
    </ng-container>

</div>