<div class="relative">
    <img class="w-full" src="assets/hero-image.jpg">
    <div class="w-full absolute top-5 lg:top-48 left-0 text-center text-white font-bold">
        <p class="lg:text-5xl text-3xl uppercase">LE 26 NOVEMBRE 2024</p>
        <p class="lg:text-2xl text-xl mt-1">Hall 5 du Parc des expositions, Porte de Versailles</p>
        <div class="flex flex-row gap-8 lg:text-3xl text-xl lg:mt-20 mt-10 place-content-center">
            <p>200 <br> Entreprises</p>
            <p>6500 <br> Visiteurs</p>
            <p>45 <br> Éditions</p>
        </div>
    </div>
</div>
<title-separator title="Une opportunité pour les étudiants et les entreprises">
</title-separator>
<div class="pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 lg:flex lg:flex-row">
    <div class="pr-16 pl-16 lg:basis-1/2 lg:pr-5 lg:pl-5"><img class="rounded-2xl w-full" src="assets/section1.jpg"
            alt="" srcset="">
    </div>
    <div class="mt-4 lg:basis-1/2 flex flex-col justify-between text-justify">
        Organisé par des étudiants de l'Ecole Spéciale des Travaux Publics, le Forum ESTP, est l'un des plus grands
        forums entreprises en France depuis 45 ans. <br>
        Chaque année, 26 étudiants travaillent ensemble pour accueillir plus de 200 entreprises et 6 500 visiteurs,
        offrant aux jeunes ingénieurs des opportunités de stages, d'emplois, et de networking avec des professionnels
        des secteurs de la construction, de l'ingénierie, et de l'immobilier. <br>
        Ce rendez-vous intergénérationnel favorise les échanges entre les recruteurs et les étudiants, tout en mettant
        en avant des thèmes d'actualité comme la transition écologique, la construction durable, et les technologies
        émergentes. Il s'impose comme un moment phare pour les futurs ingénieurs souhaitant lancer leurs carrières et
        les entreprises à la recherche de nouveaux talents.
        <div class="flex flex-row justify-between items-center gap-2 mt-6 lg:mt-0">
            <span class="text-xl text-primary basis-1/2 font-semibold">Vous êtes une entreprise ?</span>
            <button
                class="basis-1/2 px-5 py-2 bold bg-primary rounded-lg text-white text-xl font-semibold w-full">Contactez-nous</button>
        </div>
    </div>
</div>
<div class="relative w-full pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 mt-4 ">
    <p class="text-2xl text-center border-solid border-b-[.5px] border-black">Récit de la dernière édition</p>
    <iframe class="w-full mt-4" height="600" src="https://www.youtube.com/embed/FStDyhFfO88?si=pvlBK2PL0yZZkjP0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="relative w-full pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 mt-4">
    <p class="text-2xl text-center border-solid border-b-[.5px] border-black">Nos entreprises partenaires</p>
    <div class="grid grid-cols-2 lg:grid-cols-4 mt-4 gap-4">
        <div class="p-14 bg-white rounded flex flex-col justify-between h-[250px]">
            <img src="assets\partenaire-entreprises\LogoSite\Bouygues.jpg" alt="" srcset="">
            <p class="text-center">Bouygues SA</p>
        </div>
        <div class="p-14 bg-white rounded-xl flex flex-col justify-between h-[250px]">
            <img src="assets\partenaire-entreprises\LogoSite\Deloitte.jpg" alt="" srcset="">
            <p class="text-center">Doloitte</p>
        </div>
        <div class="p-14 bg-white rounded-xl flex flex-col justify-between gap-4 h-[250px]">
            <img src="assets\partenaire-entreprises\LogoSite\Vinci construction.jpg" alt="" srcset="">
            <p class="text-center">vinci</p>
        </div>
        <div class="p-14 bg-white rounded-xl flex flex-col justify-center align-center cursor-pointer"
            (click)="goToPartenaireEntreprise()">
            <span class="text-md text-primary basis-1/2 font-bold text-center">Découvrir toutes nos entreprises
                partenaires</span>
        </div>
    </div>
</div>
<div class="relative w-full pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 mt-4 ">
    <p class="text-2xl text-center border-solid border-b-[.5px] border-black">Nos écoles partenaires</p>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
        <div class="p-14 bg-white rounded-xl flex flex-col justify-between h-[250px]">
            <img src="assets\partenaire-ecole\Logos\ESTP LOGO.jpg" alt="" srcset="">
            <p class="text-center">ESTP</p>
        </div>
        <div class="p-14 bg-white rounded-xl flex flex-col justify-between h-[250px]">
            <img src="assets\partenaire-ecole\Logos\arts et metiers.png" alt="" srcset="">
            <p class="text-center">Arts et métiers</p>
        </div>
        <div class="p-14 bg-white rounded-xl flex flex-col justify-between h-[250px]">
            <img src="assets\partenaire-ecole\Logos\HEC PARIS.jpg" alt="" srcset="">
            <p class="text-center">HEC</p>
        </div>
        <div class="p-14 bg-white rounded-xl flex flex-col justify-center align-center cursor-pointer"
            (click)="goToPartenaireEcole()">
            <span class="text-md text-primary basis-1/2 font-bold text-center">Découvrir toutes nos écoles
                partenaires</span>
        </div>
    </div>
</div>
<div class="relative w-full pr-10 pl-10 pt-5 lg:pr-40 lg:pl-40 mt-4 ">
    <p class="text-2xl text-center border-solid border-b-[.5px] border-black">Nos partenaires presse</p>
    <div class="grid grid-cols-2 lg:grid-cols-4 mt-4 gap-4">
        <div class="p-14 bg-white rounded-xl flex flex-col justify-between h-[250px] gap-4">
            <img src="assets\partenaire-presse\Logos\Forbes.jpeg" class="h-[100px]" alt="" srcset="">
            <p class="text-center">Forbes</p>
        </div>
        <div class="p-14 bg-white rounded-xl flex flex-col justify-between h-[250px]">
            <img src="assets\partenaire-presse\Logos\Le Figaro.png" alt="" srcset="">
            <p class="text-center">Le Figaro Etudiant</p>
        </div>
        <div class="p-14 bg-white rounded-xl flex flex-col justify-between h-[250px]">
            <img src="assets\partenaire-presse\Logos\Le Moniteur.png" alt="" srcset="">
            <p class="text-center">Le moniteur</p>
        </div>
        <div class="p-14 bg-white rounded-xl flex flex-col justify-center align-center cursor-pointer"
            (click)="goToPartenairePresse()">
            <span class="text-md text-primary basis-1/2 font-bold text-center">Découvrir toutes nos partenaire
                presse</span>
        </div>
    </div>
</div>