<div class="relative">
    <img class="w-full hidden lg:block" src="assets/hero-image.jpg">
    <img class="w-full h-[667px] lg:hidden" src="assets/hero-image-2-cropped.jpg">

    <div class="w-full absolute top-[40%] translate-y-[-50%] lg:top-50 left-0 text-center text-white text-semibold">
        <p class="lg:text-[60px] text-3xl uppercase">LE 26 NOVEMBRE 2024</p>
        <p class="lg:text-[22px] text-sm lg:mt-10 mt-2 px-4">Hall 5 du Parc des expositions, Porte de Versailles</p>
        <div class="flex flex-row gap-8 lg:gap-[100px] lg:text-3xl text-xl  mt-10 place-content-center animate-appear">
            <p class="lg:text-[36px]">200 <br> <span class="lg:text-[24px]">Entreprises</span></p>
            <p class="lg:text-[36px]">6500 <br> <span class="lg:text-[24px]">Visiteurs</span></p>
            <p class="lg:text-[36px]">45 <br><span class="lg:text-[24px]">Éditions</span></p>
        </div>
    </div>
</div>
<title-separator title="Une opportunité pour les étudiants et les entreprises">
</title-separator>
<div class="pr-8 pl-8 pt-5 lg:pr-40 lg:pl-40 lg:flex lg:flex-row">
    <div class="lg:basis-1/2 lg:pr-5 lg:pl-5"><img class="rounded-2xl w-full" src="assets/section1.jpg" alt=""
            srcset="">
    </div>
    <div class="mt-4 lg:basis-1/2 flex flex-col justify-between">
        <p class="text-justify">
            Organisé par des étudiants de l'Ecole Spéciale des Travaux Publics, le Forum ESTP, est l'un des plus grands
            forums entreprises en France depuis 45 ans. <br>
            Chaque année, 26 étudiants travaillent ensemble pour accueillir plus de 200 entreprises et 6 500 visiteurs,
            offrant aux jeunes ingénieurs des opportunités de stages, d'emplois, et de networking avec des
            professionnels
            des secteurs de la construction, de l'ingénierie, et de l'immobilier. <br>
            Ce rendez-vous intergénérationnel favorise les échanges entre les recruteurs et les étudiants, tout en
            mettant
            en avant des thèmes d'actualité comme la transition écologique, la construction durable, et les technologies
            émergentes. Il s'impose comme un moment phare pour les futurs ingénieurs souhaitant lancer leurs carrières
            et
            les entreprises à la recherche de nouveaux talents.</p>
        <div class="flex flex-row justify-between items-center gap-2 mt-6 lg:mt-0">
            <span class="lg:text-xl text-primary basis-1/2 font-semibold">Vous êtes une entreprise ?</span>
            <a href="mailto:abdelghafour.elgouddi@forumestp.fr"
                class="text-center basis-1/2 lg:px-5 lg:py-2 p-3 bold bg-primary rounded-lg text-white lg:text-xl font-semibold w-full">Contactez-nous</a>
        </div>
    </div>
</div>
<div class="flex justify-center flex-col items-center relative w-full pr-10 pl-8 pt-5 lg:pr-40 lg:pl-40 mt-4 ">
    <p class="text-2xl text-center border-solid border-b-[.5px] border-black w-full">Récit de la dernière édition</p>
    <iframe class="w-full mt-4 lg:h-[600px]" src="https://www.youtube.com/embed/FStDyhFfO88?si=pvlBK2PL0yZZkjP0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="flex justify-center flex-col items-center relative w-full pr-8 pl-8 pt-5 lg:pr-40 lg:pl-40 mt-4">
    <p class="text-2xl text-center border-solid border-b-[.5px] border-black w-full">Nos entreprises partenaires</p>
    <div class="grid grid-cols-2 lg:grid-cols-4 mt-4 place-content-center gap-2">
        <a class="lg:p-14 relative py-6 bg-white rounded-xl flex flex-col justify-center w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center"
            href="https://www.bouygues.com" target="_blank">
            <img class="px-8" src="assets\partenaire-entreprises\LogoSite\Bouygues.jpg" alt="" srcset="">
            <p class="text-center w-full absolute bottom-[10px] left-[50%] translate-x-[-50%]">Bouygues SA</p>
        </a>
        <a class="lg:p-14 relative py-6 bg-white rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center"
            href="https://www2.deloitte.com/fr/fr/pages/home.html" target="_blank">
            <img class="px-8" src="assets\partenaire-entreprises\LogoSite\Deloitte.jpg" alt="" srcset="">
            <p class="text-center w-full absolute bottom-[10px] left-[50%] translate-x-[-50%]">Deloitte</p>
        </a>
        <a class="lg:p-14 relative py-6 bg-white rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center gap-4"
            href="https://vinci-construction.com/fr/" target="_blank">
            <img class="px-8" src="assets\partenaire-entreprises\LogoSite\Vinci construction.jpg" alt="" srcset="">
            <p class="text-center w-full absolute bottom-[10px] left-[50%] translate-x-[-50%]">Vinci</p>
        </a>
        <a class="lg:p-14 py-6 bg-white rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center align-center cursor-pointer"
            (click)="goToPartenaireEntreprise()">
            <span class="text-md text-primary basis-1/2 font-bold text-center">Découvrir toutes nos entreprises
                partenaires</span>
        </a>
    </div>
</div>
<div class="flex justify-center flex-col items-center relative w-full pr-8 pl-8 pt-5 lg:pr-40 lg:pl-40 mt-4 ">
    <p class="text-2xl text-center border-solid border-b-[.5px] border-black w-full">Nos écoles partenaires</p>
    <div class="grid grid-cols-2 lg:grid-cols-4 mt-4 place-content-center gap-2">
        <a class="lg:p-14 py-6 px-2 bg-white relative rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center"
            href="https://www.estp.fr" target="_blank">
            <img class="px-8" src="assets\partenaire-ecole\Logos\ESTP LOGO.jpg" alt="" srcset="">
            <p class="text-center w-full absolute bottom-[10px] left-[50%] translate-x-[-50%]">ESTP</p>
        </a>
        <a class="lg:p-14 py-6 px-2 bg-white relative rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center"
            href="https://artsetmetiers.fr/fr" target="_blank">
            <img class="px-8" src="assets\partenaire-ecole\Logos\arts et metiers.png" alt="" srcset="">
            <p class="text-center w-full absolute bottom-[10px] left-[50%] translate-x-[-50%]">Arts et métiers</p>
        </a>
        <a class="lg:p-14 py-6 px-2 bg-white relative rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center"
            href="https://www.hec.edu/fr
        " target="_blank">
            <img class="px-8" src="assets\partenaire-ecole\Logos\HEC PARIS.jpg" alt="" srcset="">
            <p class="text-center w-full absolute bottom-[10px] left-[50%] translate-x-[-50%]">HEC</p>
        </a>
        <a class="lg:p-14 py-6 px-2 bg-white relative rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center align-center cursor-pointer"
            (click)="goToPartenaireEcole()">
            <span class="text-md text-primary basis-1/2 font-bold text-center">Découvrir toutes nos écoles
                partenaires</span>
        </a>
    </div>
</div>
<div class="flex justify-center flex-col items-center relative w-full pr-8 pl-8 pt-5 lg:pr-40 lg:pl-40 mt-4 ">
    <p class="text-2xl text-center border-solid border-b-[.5px] border-black w-full">Nos partenaires presse</p>
    <div class="grid grid-cols-2 lg:grid-cols-4 mt-4 place-content-center gap-2">
        <a class="lg:p-14 py-6 px-2 bg-white relative rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center"
            href="https://www.forbes.fr" target="_blank">
            <img class="px-8" src="assets\partenaire-presse\Logos\Forbes.jpeg" class="h-[100px]" alt="" srcset="">
            <p class="text-center w-full absolute bottom-[10px] left-[50%] translate-x-[-50%]">Forbes</p>
        </a>
        <a class="lg:p-14 py-6 px-2 bg-white relative rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center"
            href="https://www.etudiant.lefigaro.fr" target="_blank">
            <img class="px-8" src="assets\partenaire-presse\Logos\Le Figaro.png" alt="" srcset="">
            <p class="text-center w-full absolute bottom-[10px] left-[50%] translate-x-[-50%]">Le Figaro Etudiant</p>
        </a>
        <a class="lg:p-14 py-6 px-2 bg-white relative rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center"
            href="https://www.lemoniteur.fr" target="_blank">
            <img class="px-8" src="assets\partenaire-presse\Logos\Le Moniteur.png" alt="" srcset="">
            <p class="text-center w-full absolute bottom-[10px] left-[50%] translate-x-[-50%]">Le Moniteur</p>
        </a>
        <a class="lg:p-14 py-6 px-2 bg-white relative rounded-xl flex flex-col justify-center  w-[150px] h-[150px] lg:w-[290px] lg:h-[200px] items-center cursor-pointer"
            (click)="goToPartenairePresse()">
            <span class="text-md text-primary basis-1/2 font-bold text-center">Découvrir tous nos partenaires
                presse</span>
        </a>
    </div>
</div>